<div class="article-card__author">
  <span class="article__date">
    <span class="text_on">
      {{ article.metafields.custom.author_name }} ·
    </span>
    {{ article.published_at | date: "%b %d, %Y" }}
  </span>
</div>